name: ponyc update breakage test

on:
  repository_dispatch:
    types:
      - shared-docker-builders-updated

jobs:
  vs-latest-ponyc:
    name: Verify main against the latest ponyc
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ponylang/shared-docker-ci-standard-builder:nightly
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Test
        run: |
          git config --global --add safe.directory /__w/ponydoc/ponydoc
          make test config=debug
